{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

  <div class="form-wrapper">
    <h2 class="title">Login</h2>

    <form method="POST" action="{{ url_for('signin') }}">
      {{ form.hidden_tag() }}

      <fieldset class="form-field">
        {{ form.username.label }}
        {{ form.username }}
      </fieldset>

      <fieldset class="form-field">
        {{ form.password.label }}
        {{ form.password }}
      </fieldset>

      {{ form.submit }}

      </form>
  </div>

{% endblock %}